Repository softboiler/copier-pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: fawltydeps-src, fawltydeps-dev, pytest-fast-only

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    \.copier-answers\.yml
    |changelog/towncrier_template\.md\.jinja
  )$
ci:
  skip:
    - "sync"
    - "fawltydeps-src"
    - "fawltydeps-dev"
    - "pytest-fast-only"
  autoupdate_schedule: "quarterly"
default_install_hook_types:
  - "pre-commit"
  - "post-checkout" # sync
repos:
  - repo: "meta"
    hooks:
      # ? Enable this to ensure each hook runs against at least one file
      # - id: "check-hooks-apply"
      - id: "check-useless-excludes"
  - repo: "local"
    hooks:
      - id: "sync"
        name: "sync"
        stages:
          - "pre-commit"
          - "post-checkout"
        pass_filenames: false
        language: "system"
        entry: |
          pwsh -Command "./Invoke-Uv.ps1 -Sync -Update"
      - id: "fawltydeps-src"
        name: "fawltydeps-src"
        pass_filenames: false
        language: "system"
        entry: |
          pwsh -Command "./Invoke-Uv.ps1 fawltydeps --config-file pyproject.toml"
        files: |
          (?x)^(
            pyproject\.toml
            |src/.*
          )$
      - id: "fawltydeps-dev"
        name: "fawltydeps-dev"
        pass_filenames: false
        language: "system"
        entry: |
          pwsh -Command "./Invoke-Uv.ps1 fawltydeps --config-file packages/_dev/pyproject.toml"
        files: |
          (?x)^(
            packages/_dev/.*
            |docs/.*
            |tests/.*
          )$
      - id: "pytest-fast-only"
        name: "pytest-fast-only"
        pass_filenames: false
        language: "system"
        entry: |
          pwsh -Command "./Invoke-Uv.ps1 pytest -m 'not slow'"
        files: |
          (?x)^(
            .*/pyproject\.toml
            |docs/.*
            |requirements/.*
            |scripts/.*
            |src/.*
            |tests/.*
          )$
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: "v4.6.0"
    hooks:
      - id: "end-of-file-fixer"
      - id: "trailing-whitespace"
  - repo: "https://github.com/DavidAnson/markdownlint-cli2"
    rev: "v0.13.0"
    hooks:
      - id: "markdownlint-cli2"
  - repo: "https://github.com/srstevenson/nb-clean"
    rev: "3.3.0"
    hooks:
      - id: "nb-clean"
        args:
          - "--remove-empty-cells"
          - "--preserve-notebook-metadata"
          - "--preserve-cell-metadata"
          - "tags"
          - "--"
        files: |
          (?x)^(
            docs/.*
            |src/.*
            |tests/.*
          )$
  - repo: "https://github.com/rbubley/mirrors-prettier"
    rev: "v3.3.3"
    hooks:
      - id: "prettier"
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: "v0.9.3"
    hooks:
      - id: "taplo-format"
  - repo: "https://github.com/charliermarsh/ruff-pre-commit"
    rev: "v0.5.1"
    hooks:
      - id: "ruff"
        args: ["--extend-fixable", "PIE790"]
        types_or: ["python", "pyi", "jupyter"]
      - id: "ruff-format"
        types_or: ["python", "pyi", "jupyter"]

Sync with template
  .copier-answers.yml
Due: none

Fix some more things
  .all-contributorsrc
  .pre-commit-config.yaml
  .prettierignore
  .vscode/settings.json
  packages/_dev/pyproject.toml
  template/.all-contributorsrc.jinja
  template/.pre-commit-config.yaml
  template/.vscode/settings.json.jinja
  template/packages/_dev/pyproject.toml.jinja
  uv.lock
Due: fawltydeps-dev, pytest-fast-only

Sync with template [skip ci]
  .all-contributorsrc
  .copier-answers.yml
Due: none

Don't require exact version of uv
  pyproject.toml
Due: fawltydeps-src

Replace deprecated reference to `regex` manager with `customRegex`
  template/.renovaterc.json
Due: none

Change deprecated `fileMatch` to `managerFilePatterns`
  template/.renovaterc.json
Due: none

Add template sync to actions
  .github/workflows/env.yml
  .justfile
  .vscode/settings.json
  .vscode/tasks.json
  env.json
  packages/_dev/pyproject.toml
  pyproject.toml
  scripts/pre.ps1
  template/.github/workflows/env.yml.jinja
  template/.justfile
  template/.vscode/settings.json.jinja
  template/.vscode/tasks.json
  template/env.json.jinja
  template/packages/_dev/pyproject.toml.jinja
  template/pyproject.toml.jinja
  template/scripts/pre.ps1
Due: fawltydeps-src, fawltydeps-dev, pytest-fast-only

Fix uvx invocation
  .justfile
  template/.justfile
Due: none

Sync with template
  .copier-answers.yml
  .renovaterc.json
Due: none

Fix a few templated values
  template/packages/_dev/src/{{ package_name }}_dev/__main__.py.jinja
  template/packages/_dev/src/{{ package_name }}_dev/tools/__init__.py.jinja
Due: none

Unbound uv required version
  template/pyproject.toml.jinja
Due: none

Include all dev packages
  template/packages/_dev/pyproject.toml.jinja
Due: none

Enable lockfile maintenance
  .renovaterc.json
Due: none

Block PR
  uv.lock
Due: none

Don't recreate immortal PRs
  .renovaterc.json
Due: none

Don't recreate immortal PRs
  .renovaterc.json
  template/.renovaterc.json
Due: none

Fix Just recipe "Update changelog with the latest commit's message". Update changelog
  .justfile
  changelog/2025-05-09T18-32-38.6018084Z.change.md
  template/.justfile
Due: none

Update changelog
  changelog/2025-05-09T18-33-52.5743526Z.change.md
Due: none

Minor change
  template/.renovaterc.json
Due: none

Update .renovaterc.json
  .renovaterc.json
Due: none

Propagate changes from `amsl-labjack`
  template/packages/_dev/pyproject.toml.jinja
  template/packages/_dev/src/{{ package_name }}_dev/__main__.py.jinja
  template/packages/_dev/src/{{ package_name }}_dev/tools/__main__.py.jinja
  template/pyproject.toml.jinja
Due: none

Suppress output of uv version check
  template/scripts/pre.ps1
Due: none

Propagate changes from `amsl-labjack`
  packages/_dev/src/copier_pipeline_dev/tools/__main__.py
  template/packages/_dev/src/{{ package_name }}_dev/tools/environment.py
Due: fawltydeps-dev

Sync with template
  .copier-answers.yml
  .justfile
  .renovaterc.json
  packages/_dev/src/copier_pipeline_dev/__main__.py
  packages/_dev/src/copier_pipeline_dev/tools/environment.py
  scripts/pre.ps1
Due: fawltydeps-dev, pytest-fast-only

Propagate changes from boilerdaq
  template/.pre-commit-config.yaml
  template/.vscode/extensions.json
  template/.vscode/settings.json.jinja
  template/pyproject.toml.jinja
  template/scripts/Initialize-Repo.ps1.jinja
Due: none

Sync template with gjob
  template/.github/workflows/changerelease.yml
  template/.github/workflows/ci.yml
  template/.github/workflows/env.yml.jinja
  template/.github/workflows/release.yml
  template/.justfile
  template/.vscode/settings.json.jinja
  template/.vscode/tasks.json
  template/CHANGELOG.md
  template/CHANGELOG.md.jinja
  template/env.json.jinja
  template/j.ps1
  template/scripts/Initialize-Repo.ps1.jinja
  template/scripts/Sync-Template.ps1
  template/scripts/inst.just
  template/scripts/pre.ps1
Due: none

Fix typos
  scripts/common.just
  template/.github/workflows/env.yml.jinja
  template/.vscode/settings.json.jinja
  template/env.json.jinja
Due: pytest-fast-only

Update from template
  .copier-answers.yml
  .github/workflows/changerelease.yml
  .github/workflows/ci.yml
  .github/workflows/env.yml
  .github/workflows/release.yml
  .justfile
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
  CHANGELOG.md
  env.json
  j.ps1
  pyproject.toml
  scripts/Initialize-Repo.ps1
  scripts/Sync-Template.ps1
  scripts/inst.just
  scripts/pre.ps1
  template/.github/workflows/env.yml.jinja
  uv.lock
Due: fawltydeps-src, pytest-fast-only

Fix typo
  template/.justfile
Due: none

Update from template
  .copier-answers.yml
  .github/workflows/env.yml
  .justfile
  .vscode/settings.json
  env.json
  template/.justfile
Due: none

Update from template
  .copier-answers.yml
  .github/workflows/env.yml
  .vscode/settings.json
  env.json
Due: none
