Repository softboiler/copier-pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: fawltydeps-src, fawltydeps-dev, pytest-fast-only

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    \.copier-answers\.yml
    |changelog/towncrier_template\.md\.jinja
  )$
ci:
  skip:
    - "sync"
    - "fawltydeps-src"
    - "fawltydeps-dev"
    - "pytest-fast-only"
  autoupdate_schedule: "quarterly"
default_install_hook_types:
  - "pre-commit"
  - "post-checkout" # sync
repos:
  - repo: "meta"
    hooks:
      # ? Enable this to ensure each hook runs against at least one file
      # - id: "check-hooks-apply"
      - id: "check-useless-excludes"
  - repo: "local"
    hooks:
      - id: "sync"
        name: "sync"
        stages:
          - "pre-commit"
          - "post-checkout"
        pass_filenames: false
        language: "system"
        entry: |
          pwsh -Command "./Invoke-Uv.ps1 -Sync -Update"
      - id: "fawltydeps-src"
        name: "fawltydeps-src"
        pass_filenames: false
        language: "system"
        entry: |
          pwsh -Command "./Invoke-Uv.ps1 fawltydeps --config-file pyproject.toml"
        files: |
          (?x)^(
            pyproject\.toml
            |src/.*
          )$
      - id: "fawltydeps-dev"
        name: "fawltydeps-dev"
        pass_filenames: false
        language: "system"
        entry: |
          pwsh -Command "./Invoke-Uv.ps1 fawltydeps --config-file packages/_dev/pyproject.toml"
        files: |
          (?x)^(
            packages/_dev/.*
            |docs/.*
            |tests/.*
          )$
      - id: "pytest-fast-only"
        name: "pytest-fast-only"
        pass_filenames: false
        language: "system"
        entry: |
          pwsh -Command "./Invoke-Uv.ps1 pytest -m 'not slow'"
        files: |
          (?x)^(
            .*/pyproject\.toml
            |docs/.*
            |requirements/.*
            |scripts/.*
            |src/.*
            |tests/.*
          )$
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: "v4.6.0"
    hooks:
      - id: "end-of-file-fixer"
      - id: "trailing-whitespace"
  - repo: "https://github.com/DavidAnson/markdownlint-cli2"
    rev: "v0.13.0"
    hooks:
      - id: "markdownlint-cli2"
  - repo: "https://github.com/srstevenson/nb-clean"
    rev: "3.3.0"
    hooks:
      - id: "nb-clean"
        args:
          - "--remove-empty-cells"
          - "--preserve-notebook-metadata"
          - "--preserve-cell-metadata"
          - "tags"
          - "--"
        files: |
          (?x)^(
            docs/.*
            |src/.*
            |tests/.*
          )$
  - repo: "https://github.com/rbubley/mirrors-prettier"
    rev: "v3.3.3"
    hooks:
      - id: "prettier"
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: "v0.9.3"
    hooks:
      - id: "taplo-format"
  - repo: "https://github.com/charliermarsh/ruff-pre-commit"
    rev: "v0.5.1"
    hooks:
      - id: "ruff"
        args: ["--extend-fixable", "PIE790"]
        types_or: ["python", "pyi", "jupyter"]
      - id: "ruff-format"
        types_or: ["python", "pyi", "jupyter"]

Be more explicit about pyright elevation
  .justfile
  j.ps1
  packages/_dev/src/copier_pipeline_dev/__main__.py
  packages/_dev/src/copier_pipeline_dev/cli.py
  packages/_dev/src/copier_pipeline_dev/tools/__init__.py
  scripts/pre.ps1
Due: fawltydeps-dev, pytest-fast-only

Propagate changes to template
  template/.github/workflows/changerelease.yml
  template/.github/workflows/ci.yml
  template/.justfile
  template/.vscode/settings.json
  template/.vscode/tasks.json
  template/j.ps1
  template/packages/_dev/src/{{ package_name }}_dev/__main__.py.jinja
  template/packages/_dev/src/{{ package_name }}_dev/cli.py
  template/packages/_dev/src/{{ package_name }}_dev/tools/__init__.py.jinja
  template/scripts/common.just
  template/scripts/pre.ps1
Due: none

Fix settings template
  template/.vscode/settings.json
Due: none

Update from template
  .copier-answers.yml
  .github/workflows/env.yml
  .vscode/settings.json
  env.json
Due: none

Write changelog entry for latest work
  changelog/+2025-07-01T21-25-29.9939354Z.change.md
Due: none

Introduce `.gitignored` pipeline data folder
  template/data/.gitignore
Due: none

Add changelog entry
  changelog/+2025-07-01T21-30-58.5085982Z.change.md
Due: none

Template a value
  packages/_dev/src/copier_pipeline_dev/cli.py.jinja
Due: fawltydeps-dev

Install YAML support in PowerShell
  .justfile
  packages/_dev/src/copier_pipeline_dev/cli.py
  scripts/inst.just
  template/.justfile
  template/packages/_dev/src/{{ package_name }}_dev/cli.py.jinja
  template/scripts/inst.just
  test.ps1
Due: fawltydeps-dev, pytest-fast-only

Propagate changes from drafty
  template/packages/_dev/pyproject.toml.jinja
  template/pyproject.toml.jinja
Due: none

Escape curly braces
  template/packages/_pipeline-helper/src/pipeline_helper/sync_dvc/validators.py.jinja
Due: none

Fix Justfile
  template/.justfile
Due: none

Fix pipeline package name
  template/packages/_pipeline/pyproject.toml.jinja
Due: none

Fix some things
  template/packages/_dev/src/{{ package_name }}_dev/__main__.py.jinja
  template/packages/_pipeline-helper/pyproject.toml.jinja
  template/packages/_pipeline-helper/src/pipeline_helper/config.py.jinja
  template/packages/_pipeline-helper/src/pipeline_helper/models/stage/__init__.py.jinja
  template/packages/_pipeline-helper/src/pipeline_helper/sync_dvc/validators.py.jinja
  template/packages/_pipeline/pyproject.toml.jinja
  template/packages/_pipeline/src/{{ package_name }}_pipeline/__init__.py
  template/packages/_pipeline/src/{{ package_name }}_pipeline/__main__.py.jinja
  template/packages/_pipeline/src/{{ package_name }}_pipeline/cli/__init__.py.jinja
  template/packages/_pipeline/src/{{ package_name }}_pipeline/models/generated/__init__.py
  template/packages/_pipeline/src/{{ package_name }}_pipeline/models/generated/types/__init__.py
  template/packages/_pipeline/src/{{ package_name }}_pipeline/models/generated/types/stages.py
  template/packages/_pipeline/src/{{ package_name }}_pipeline/models/paths.py.jinja
  template/packages/_pipeline/src/{{ package_name }}_pipeline/models/types.py
  template/packages/_pipeline/src/{{ package_name }}_pipeline/parser.py.jinja
  template/packages/_pipeline/src/{{ package_name }}_pipeline/stages/__init__.py
  template/packages/_pipeline/src/{{ package_name }}_pipeline/stages/example/__init__.py.jinja
  template/packages/_pipeline/src/{{ package_name }}_pipeline/stages/example/__main__.py.jinja
Due: none

Add extra newline
  template/packages/_pipeline-helper/src/pipeline_helper/sync_dvc/validators.py.jinja
Due: none

Change suffix
  template/dvc.yaml.jinja
Due: none

Update installer recipes, fix a few things
  template/.justfile
  template/packages/_dev/pyproject.toml.jinja
  template/scripts/inst.just
Due: none

Fix pre-commit task
  template/.vscode/tasks.json
Due: none

Propagate changes from gjob
  template/.gitignore
  template/docs/conf.py.jinja
  template/dvc.yaml.jinja
  template/packages/_dev/pyproject.toml.jinja
  template/packages/_dev/src/{{ package_name }}_dev/notebooks.py
  template/packages/_pipeline-helper/src/pipeline_helper/models/contexts/__init__.py
  template/packages/_pipeline-helper/src/pipeline_helper/models/path/__init__.py
  template/packages/_pipeline-helper/src/pipeline_helper/models/stage/__init__.py.jinja
  template/packages/_pipeline/pyproject.toml.jinja
  template/packages/_pipeline/src/{{ package_name }}_pipeline/models/__init__.py
  template/packages/_pipeline/src/{{ package_name }}_pipeline/models/paths.py.jinja
Due: none

Delete more files
  .vscode/settings.json
  packages/_dev/src/copier_pipeline_dev/notebooks.py
  packages/_pipeline-helper/src/pipeline_helper/models/contexts/__init__.py
  packages/_pipeline-helper/src/pipeline_helper/models/contexts/types.py
  packages/_pipeline-helper/src/pipeline_helper/models/stage/__init__.py
  packages/_pipeline-helper/src/pipeline_helper/sync_dvc/validators.py
  packages/_pipeline/src/copier_pipeline_pipeline/models/__init__.py
  packages/_pipeline/src/copier_pipeline_pipeline/models/paths.py
  prek.toml
  template/packages/_pipeline-helper/src/pipeline_helper/hashes.py
  template/packages/_pipeline-helper/src/pipeline_helper/models/contexts/__init__.py
  template/packages/_pipeline-helper/src/pipeline_helper/models/contexts/types.py
  template/packages/_pipeline-helper/src/pipeline_helper/models/data/__init__.py
  template/packages/_pipeline-helper/src/pipeline_helper/models/path/__init__.py
  template/packages/_pipeline-helper/src/pipeline_helper/notebook_namespaces.py
  template/packages/_pipeline-helper/src/pipeline_helper/sync_dvc/__main__.py
  template/packages/_pipeline-helper/src/pipeline_helper/sync_dvc/contexts.py
  template/packages/_pipeline-helper/src/pipeline_helper/sync_dvc/types.py
  template/packages/_pipeline/src/{{ package_name }}_pipeline/parser.py.jinja
  template/packages/_pipeline/src/{{ package_name }}_pipeline/stages/example/__init__.py.jinja
  template/packages/_pipeline/src/{{ package_name }}_pipeline/stages/example/__main__.py.jinja
Due: fawltydeps-dev

Remove files from template
  template/.pre-commit-config.yaml
  template/data/example/.gitignore
  template/data/example/example.txt
  template/docs/examples/example.ipynb
  template/docs/examples/index.md
  template/packages/_pipeline-helper/src/pipeline_helper/hashes.py
  template/packages/_pipeline-helper/src/pipeline_helper/models/path/__init__.py
  template/packages/_pipeline-helper/src/pipeline_helper/models/path/types.py
  template/packages/_pipeline-helper/src/pipeline_helper/notebook_namespaces.py
Due: none

Propagate changes to template
  .github/workflows/env.yml
  .gitmodules
  packages/_dev/pyproject.toml
  template/.devcontainer/devcontainer.json.jinja
  template/.github/workflows/ci.yml
  template/.justfile
  template/.renovaterc.json
  template/.vscode/extensions.json
  template/.vscode/settings.json
  template/.vscode/tasks.json
  template/data/.gitignore
  template/docs/conf.py.jinja
  template/docs/contributing.md.jinja
  template/docs/index.md.jinja
  template/env.json
  template/packages/_dev/pyproject.toml.jinja
  template/packages/_dev/src/{{ package_name }}_dev/__main__.py.jinja
  template/packages/_dev/src/{{ package_name }}_dev/docs/docstrings.py.jinja
  template/packages/_dev/src/{{ package_name }}_dev/tools/__init__.py.jinja
  template/packages/_dev/src/{{ package_name }}_dev/tools/__main__.py.jinja
  template/packages/_dev/src/{{ package_name }}_dev/tools/environment.py
  template/packages/_pipeline-helper/pyproject.toml.jinja
  template/packages/_pipeline-helper/src/pipeline_helper/models/contexts/__init__.py
  template/packages/_pipeline-helper/src/pipeline_helper/models/data/__init__.py
  template/packages/_pipeline-helper/src/pipeline_helper/models/stage/__init__.py.jinja
  template/packages/_pipeline-helper/src/pipeline_helper/paths.py
  template/packages/_pipeline-helper/src/pipeline_helper/sync_dvc/__main__.py
  template/packages/_pipeline-helper/src/pipeline_helper/sync_dvc/contexts.py
  template/packages/_pipeline-helper/src/pipeline_helper/sync_dvc/types.py
  template/packages/_pipeline-helper/src/pipeline_helper/sync_dvc/validators.py.jinja
  template/packages/_pipeline/pyproject.toml.jinja
  template/packages/_pipeline/src/{{ package_name }}_pipeline/cli/__init__.py.jinja
  template/packages/_pipeline/src/{{ package_name }}_pipeline/models/paths.py.jinja
  template/prek.toml
  template/pyproject.toml.jinja
  uv.lock
Due: fawltydeps-dev, pytest-fast-only

Update from template
  .copier-answers.yml
  .gitignore
  .renovaterc.json
  data/.gitignore
  docs/conf.py
  dvc.yaml
  packages/_pipeline-helper/pyproject.toml
  packages/_pipeline/pyproject.toml
  packages/_pipeline/src/copier_pipeline_pipeline/models/paths.py
  template/docs/contributing.md.jinja
  template/dvc.yaml.jinja
  uv.lock
Due: fawltydeps-dev, pytest-fast-only

Remove outdated typings mention
  template/.prettierignore
Due: none

Propagate changes from notes
  template/.gitignore
  template/.prettierignore
  template/.vscode/settings.json
  template/docs/conf.py.jinja
  template/packages/_pipeline-helper/src/pipeline_helper/models/stage/__init__.py.jinja
  template/packages/_pipeline-helper/src/pipeline_helper/sync_dvc/__init__.py.jinja
  template/packages/_pipeline-helper/src/pipeline_helper/sync_dvc/__main__.py
  template/packages/_pipeline-helper/src/pipeline_helper/sync_dvc/contexts.py
  template/packages/_pipeline-helper/src/pipeline_helper/sync_dvc/dvc.py
  template/packages/_pipeline-helper/src/pipeline_helper/sync_dvc/validators.py.jinja
  template/pyproject.toml.jinja
Due: none

Remove deprecated trove classifier
  template/pyproject.toml.jinja
Due: none

Bootstrap
  .gitignore
  .justfile
  .vscode/settings.json
  env.json
  scripts/common.just
Due: pytest-fast-only

Fix
  template/packages/_pipeline-helper/pipeline_helper/sync_dvc/__init__.py.jinja
  template/packages/_pipeline-helper/pipeline_helper/sync_dvc/validators.py.jinja
  template/packages/_pipeline/{{ package_name }}_pipeline/__main__.py.jinja
Due: none
