Repository softboiler/copier-pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: fawltydeps-src, fawltydeps-dev, pytest-fast-only

fawltydeps-src:
  name: fawltydeps-src
  pass_filenames: false
  language: system
  entry: 'pwsh -Command "./Invoke-Uv.ps1 fawltydeps --config-file pyproject.toml"
  
    '

fawltydeps-dev:
  name: fawltydeps-dev
  pass_filenames: false
  language: system
  entry: 'pwsh -Command "./Invoke-Uv.ps1 fawltydeps --config-file packages/_dev/pyproject.toml"
  
    '

pytest-fast-only:
  name: pytest-fast-only
  pass_filenames: false
  language: system
  entry: 'pwsh -Command "./Invoke-Uv.ps1 pytest -m ''not slow''"
  
    '

Try generating CI environment workflow and separating changelog drafting from releasing
  .github/workflows/env.yml
  .github/workflows/release.yml
  .justfile
  .prettierignore
  .vscode/settings.json
  .vscode/tasks.json
  env.json
  scripts/pre.ps1
Due: pytest-fast-only

Update changelog
  changelog/+2025-06-25T22-34-34.4342740Z.change.md
Due: none

Fix workflow
  .justfile
Due: none

2025.1.0
  .copier-answers.yml
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/issue_template.md
  .github/workflows/env.yml
  .justfile
  .vscode/settings.json
  .vscode/tasks.json
  CHANGELOG.md
  changelog/+2024-09-23T21-39-07.0266718Z.change.md
  changelog/+2025-06-25T22-34-34.4342740Z.change.md
  changelog/2025-05-09T18-32-38.6018084Z.change.md
  changelog/2025-05-09T18-33-52.5743526Z.change.md
  env.json
  pyproject.toml
  uv.lock
Due: fawltydeps-src

Separate GItHub release publishing into draft and publish stages
  .github/workflows/release.yml
Due: none

Update changelog
  changelog/+2025-06-25T23-30-32.4530400Z.change.md
Due: none

2025.1.1
  .copier-answers.yml
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/issue_template.md
  .github/workflows/env.yml
  .vscode/settings.json
  CHANGELOG.md
  changelog/+2025-06-25T23-30-32.4530400Z.change.md
  env.json
  pyproject.toml
  uv.lock
Due: fawltydeps-src

Fix workflow
  .github/workflows/release.yml
Due: none

2025.1.1
  .justfile
  CHANGELOG.md
Due: none

Modify release publish permissions
  .github/workflows/release.yml
Due: none

Just publish the release since drafting/changrelease don't play nicely
  .github/workflows/release.yml
Due: none

Update changelog
  changelog/+2025-06-26T01-02-39.5471987Z.change.md
Due: none

2025.1.2
  .copier-answers.yml
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/issue_template.md
  .github/workflows/env.yml
  .vscode/settings.json
  CHANGELOG.md
  changelog/+2025-06-26T01-02-39.5471987Z.change.md
  env.json
  pyproject.toml
  uv.lock
Due: fawltydeps-src

Revert formatting
  .github/workflows/env.yml
Due: none

Propagate latest work to template
  copier.yml
  template/.github/workflows/env.yml.jinja
  template/.github/workflows/release.yml
  template/.justfile
  template/.prettierignore
  template/.vscode/settings.json
  template/.vscode/tasks.json
  template/env.json.jinja
  template/pyproject.toml.jinja
  template/scripts/common.just
  template/scripts/pre.ps1
Due: none

Remove Jinja suffix from files with no templated values
  template/.github/DISCUSSION_TEMPLATE/show-and-tell.yaml
  template/.github/workflows/env.yml
Due: none

Sync with template
  .copier-answers.yml
  .github/workflows/env.yml
  .github/workflows/release.yml
  .vscode/settings.json
  env.json
  pyproject.toml
  template/.justfile
Due: fawltydeps-src

Remove space between comment begin and Better Comments color symbol where possible
  .justfile
  template/.devcontainer/devcontainer.json.jinja
  template/.github/workflows/ci.yml
  template/.gitignore
  template/.justfile
  template/.pre-commit-config.yaml
  template/.prettierignore
  template/j.ps1
  template/packages/_dev/pyproject.toml.jinja
  template/pyproject.toml.jinja
  template/scripts/pre.ps1
Due: none

Sync with template
  .copier-answers.yml
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  env.json
  j.ps1
  packages/_dev/pyproject.toml
  pyproject.toml
  scripts/pre.ps1
  template/.github/workflows/release.yml
  template/.justfile
Due: fawltydeps-src, fawltydeps-dev, pytest-fast-only

Sync with template
  .github/workflows/env.yml
  .justfile
  .vscode/settings.json
Due: none

2025.1.3
  .copier-answers.yml
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/issue_template.md
  CHANGELOG.md
  env.json
  pyproject.toml
  uv.lock
Due: fawltydeps-src

Check changrelease version output
  .github/workflows/changerelease.yml
Due: none

Require synced environments in CI
  .github/workflows/env.yml
  .vscode/settings.json
  template/.github/workflows/changerelease.yml
  template/.github/workflows/ci.yml
  template/.justfile
  template/.vscode/tasks.json
  template/scripts/pre.ps1
Due: none

Invoke `just` as `./j.ps1` in non-install recursive calls
  .copier-answers.yml
  .github/workflows/changerelease.yml
  .github/workflows/ci.yml
  .github/workflows/env.yml
  .github/workflows/release.yml
  .justfile
  .vscode/settings.json
  .vscode/tasks.json
  env.json
  scripts/common.just
  scripts/inst.just
  scripts/pre.ps1
  template/.justfile
  template/scripts/common.just
  template/scripts/inst.just
Due: pytest-fast-only

Revert
  .copier-answers.yml
Due: none

Sync with template
  .copier-answers.yml
  .github/workflows/env.yml
  .vscode/settings.json
  env.json
Due: none

Check working tree in CI
  .github/workflows/ci.yml
Due: none

Sync dev env when syncing in contrib and CI
  j.ps1
  scripts/pre.ps1
Due: pytest-fast-only

Check various versions
  .github/workflows/ci.yml
Due: none

Try making Sync-CiEnv same as Sync-DevEnv
  scripts/pre.ps1
Due: pytest-fast-only

Make the recipe the same as well
  .justfile
Due: none

Print DevEnv
  .github/workflows/ci.yml
  .justfile
  j.ps1
  scripts/pre.ps1
Due: pytest-fast-only

Check behavior of different environment syncs
  .github/workflows/ci.yml
  .justfile
Due: none

Show contents of changed file
  .github/workflows/ci.yml
Due: none

Try platform-specific command
  scripts/pre.ps1
Due: pytest-fast-only

Only set special variables in CI, don't propagate to files
  .github/workflows/ci.yml
  .justfile
  j.ps1
  scripts/pre.ps1
Due: pytest-fast-only

Coalesce some CI calls
  .github/workflows/changerelease.yml
  .github/workflows/ci.yml
Due: none

Explicitly prepend PWD to CI path file entries
  scripts/pre.ps1
Due: pytest-fast-only

Update submodules in contributor setup
  .justfile
Due: none

Make environment sync more explicit
  .justfile
  .vscode/tasks.json
  j.ps1
  scripts/common.just
  scripts/pre.ps1
Due: pytest-fast-only

Path conditions:
  fawltydeps-src: any of: (?x)^(
  pyproject\.toml
  |src/.*
)$
, but not: (?x)^(
  \.copier-answers\.yml
  |changelog/towncrier_template\.md\.jinja
)$

  fawltydeps-dev: any of: (?x)^(
  packages/_dev/.*
  |docs/.*
  |tests/.*
)$
, but not: (?x)^(
  \.copier-answers\.yml
  |changelog/towncrier_template\.md\.jinja
)$

  pytest-fast-only: any of: (?x)^(
  .*/pyproject\.toml
  |docs/.*
  |requirements/.*
  |scripts/.*
  |src/.*
  |tests/.*
)$
, but not: (?x)^(
  \.copier-answers\.yml
  |changelog/towncrier_template\.md\.jinja
)$

